body {
    font-family: sans-serif;
    background-color: #e3fde4;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

#descricao {
    position: absolute;
    top: 50px;
    right: 10%;
}

.subtitle {
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 30px;
    
}

.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    font-weight: bold;
}

#photo-profile {
    float: left;
    height: 210px;
    width: 220px;
    padding: 5px;
    background-color: #4CAF50;
    border-radius: 50%;

}

.image-container {
    height: 220px;
    position: relative;
}

li:hover {
    background-color: #4CAF50;
    color: white;
}

li {
    list-style: square;
}


