body {
    background-color: rgb(56, 56, 56);
   
}

main {
    width: 100%;
    min-width: 70%;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;

}

#foto {
    float: left;
    display: inline-block;
}

#photo {
    border: 3px solid rgb(0, 0, 0);
}

#descricao {
    float: right;
    width: 600px;
    display: inline-block;
    position: absolute;
    left: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
    padding: 30px;
    text-align: justify;
    
    
}

#carreira {
margin-top: 300px;
}

.subtitle {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border-radius: 20px;
}

.button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(19, 192, 19);
}

.button:active {
    background-color: white;
    color: black;
}

ul {
    list-style: none;
    text-align: center;
}

li:hover {
    background-color: rgb(253, 69, 69);
    border-radius: 20px;
}

#caracteristicas ul li {
    color: white;
}